/*Jasmin Aryee 23/01/2025*/
*{
    box-sizing: border-box;
}
body {
    margin:10px;
    background-color: rgb(14, 91, 39);
    
}

#container {
    display:flex;
    justify-content: space-between;

}
#content {
    display: flex;
    justify-content: space-between;
    font-family:Arial, Helvetica, sans-serif
}

.tile {
    text-align: center;
    background-color: rgb(175, 236, 145);
    border: solid 4px rgb(6 44 17);
    padding: 40px;
    width:30%;
    margin: 10px;
}

.tile2 {
    display:block;
    text-align: center;
    background-color: rgb(175, 236, 145);
    border: solid 4px rgb(6 44 17);
    padding-top: 40px;
    width:65%;
    margin: 10px;
}

.tile img {
    width:100%;
}

.row{
    display: flex;
    text-align: center;
    margin-bottom: 2px;
    margin:auto;
    width: auto;
 
}
.row2{
    display: flex;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 15px;
    margin:auto;
    width: auto;
 
}

.sec img{
    width:80%;
    margin:10px;
    margin-top: 0;
    padding:0
}

.sec p{
    margin:10px;
}
.secmain img{
    width:80%;
    margin:10px;
    margin-top: 0;
}

.six p{
    margin:10px;
}
.six img{
    width:80%;
    margin:10px;
    margin-top: 0;
    padding:0
}

.secmain p{
    margin:10px;
}

.lastcol img{
    width:80%;
    margin:10px;
    margin-top: 0;
    padding:0
}

.lastcol p{
    margin:10px;
}


@media (max-width: 1024px) {
    #content{
        align-items: center;
        flex-direction: column;
        
    }
    .tile{
        width:100%;
        text-align:center;
        padding:10px;
        background-color: rgb(175, 236, 145);
        border: solid 4px rgb(6 44 17);
        
    }
    .tile img{
        display:flex;
        float:left;
        width:200px;
        margin: 10px;
        }
    .tile2{
        display: flex;
        width:100%;
        background-color: rgb(175, 236, 145);
        border: solid 4px rgb(6 44 17);
    }
    
    .lastcol {
        display: none;
    }
    .row{
        display: block;
    }
    .row2{
        display: block;
    }
}

@media (max-width: 480px){

    body{
        margin:5px;
        background-color: rgb(89, 45, 144);

    }
    .tile{
        display:none;
    }
    .six{
        display: none;
    }

    .tile2{
        width:100%;
        margin:10px;
        padding: 40px;
        flex-direction: column;
        background-color: rgb(149, 145, 236);
        border: solid 4px rgb(6, 19, 44);
        font-family:'Courier New', Courier, monospace;
    }
    .row{
        width:100%;
        display:flex;
        flex-direction: column;
        
    }
    .row2{
        width:100%;
        flex-direction: column;
        padding-bottom: 0;
        width: 100%;
    }
    .secmain{
        display: flex;
        width:100%;
        margin-bottom: 70px;
    }
    .secmain p{
        font-size: 15px;
    }
    .sec p{
        font-size: 13px;
    }
    .secmain img{
        width:50%;
        height:auto;
    }
    .sec{
        display: flex;
        margin-bottom: 10px;
    }
    .sec img{
        display: block;
        width: 75px;
        margin-bottom: 10px;
    }


}
/* checkpoint here*/
